html {
  overflow: hidden;
  height: 100%;
  font-size: 6vmin;
}

body {
  font-family: bookmania, serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
  background-color: $color-primary;
  cursor: none;
}

h1 {
  font-weight: 400;
}
